@import "nested.css";
body {
  background-color: #dead77;
  font-size: 0.9em;
}
/*
This is a multiline comment
*/
footer {
  font-size: 0.8em;
}
.darktext {
  background-color: #001133;
  color: #5c5c5c;
  font-size: 0.8em;
}
p {
  border: 1px solid gray;
  background-color: #001133;
  color: #5c5c5c;
  font-size: 0.8em;
}
.articletext {
  border: 1px solid gray;
  background-color: #001133;
  color: #5c5c5c;
  font-size: 0.8em;
}
header {
  font-size: 1.1em;
}
