body{
     background-image: url(img/mac2.jpg);
     background-size:100%;
}

div{
     bottom: 0;
     width:500px;
     position:fixed;
     overflow:hidden;
     left:35%;
}

div li{
     display:inline-block;
}

img{
     width:60px;
     height:60px;
     -webkit-transition:all .4s;
}

img:hover { 
     -webkit-transform:scale(1.50);     
     transform:scale(1.50);
}