body{
	font-family: Georgian;
    font-size: 14pt;
}

header{
	background:#1f1f14;
	height:5%;
}

h2{
	text-align:left;
	margin-top:7%;
}

.pcontactar {
	font-size:2em;
}

#enlace {
	text-decoration:none;
	color:white;
}

#fondoEnlace{
	background-color:black;

}

#base1{ 
	width:30%;
	background:#e6e6e6;
	float:left;
	text-align:center;
	height: 48em;
}

#base1trabajos{ 
	width:30%;
	background:#e6e6e6;
	float:left;
	text-align:center;
	height: 75em;
}

#base1contactar {
	width:30%;
	background:#e6e6e6;
	float:left;
	text-align:center;
	height: 35em;
}

.foto {
	margin:5%;

}

#base2{
	width:70%;
	background: #f2f2f2;
	float:right;
	height: 48em;
}

#base2trabajos {
	width:70%;
	background: #f2f2f2;
	float:right;
	height: 75em;
}


#base2contactar {
	width:70%;
	background: #f2f2f2;
	float:right;
	height: 35em;
}
	
#presentacion {

	text-align:left;
	margin:5%;
}
	

#descripcion {margin:5%;}

table{
	margin-top:5%;
	font-size:14pt;

}
.normal {width:50%;}

.img {

	text-align:center;
	width:50%;

}

div img{
	margin-top:20%;
	border-radius: 200px;

}


ul{
	text-decoration:none;
	list-style:none;
	margin-top:10%;
	padding:0px;
	width:100%;
	font-family:Georgian;
	font-size:11pt;

}

li{
	background:#666;
}


ul li a{
	background:#ccc;
	text-decoration:none;
	text-transform: uppercase;
	display:block;
	padding: 15px 15px 15px 15px;

}
   
ul li a:hover{
	background:#000;
	border-left:10px solid #333;
	color:#fff;
} 

header nav{
	width:100%;
}
nav div{
	background-color:darkgray;
	text-align:right;
	float:right;
	height: 60px;


}
nav div a{

	text-decoration-style: none;
	position:fixed;
	margin-left:75%;
	width:200px;

}

nav div 

#a1{
	display:block;
	width:200px;
	margin-left:53%;
	height: 60px;
	text-align:center;
	font-weight: bold;
	background-color:darkgray;
}

#a1:hover{
	background: #333;
	color:#fff;
} 

#a2{
	width:200px;
	margin-left:68%;
	height: 60px;
	text-align:center;
	font-weight: bold;
	background-color:darkgray;

}

#a2:hover{
	background: #333;
	color:#fff;
} 

#a3{
	margin-left:83%;
	width:200px;
	height: 60px;
	text-align:center;
	font-weight: bold;
	background-color:darkgray;

}

#a3:hover{
	background: #333;
	color:#fff;
} 